<h2>Agents</h2>

<div class="pull-right"><button {{action 'save'}}>Save Changes</button></div>
<p>Total found: {{length}}</p>

{{outlet}}

<div>
{{#collection Ember.ListView contentBinding="controller" height=500 rowHeight=50 width=500}}
	{{id}}: {{#link-to 'agents.detail' this}}{{first_name}} {{last_name}}{{/link-to}} {{#if isDirty}}*RECORD CHANGED*{{/if}}
{{/collection}}
</div>
