<%= form_for(@quality) do |f| %>
  <% if @quality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quality.errors.count, "error") %> prohibited this quality from being saved:</h2>

      <ul>
      <% @quality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br>
    <%= select_tag "person_id", options_from_collection_for_select(Person.all, :id, :name), prompt: "Select Person" %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
